
.form-signin {
  width: 100%;
  max-width: 20rem;
  padding: 1rem;
  padding-top: 5rem;
  margin: auto;
  text-align: center;

    // input:invalid {
    //     color:red
    // }

    & .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 0.6rem;
    font-size: 1rem;
    }
    & .form-control:focus {
    z-index: 2;
    }

    & input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    }

    & input[type="password"] {
    margin-bottom: 0.75rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    }

    & input[id="userName"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    }

    & .createAccountButton{
        cursor: pointer;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 1rem;
        color: rgb(38, 139, 197)

    }
    & .error-message{
        font-size: 0.85rem;
        line-height: 1.2;
        font-weight: bold;
        color:red;
        animation: appearance .3s ease-out;
    }


}



