.nav-link {
  text-align: center;
  min-width: 12ch;
  white-space: nowrap;

  @include respond(small) {
    padding: 0.25rem 0;
    text-align: unset;
  }
}

.navigation {
  padding: 0.75rem;
  display: flex;
  align-items: center;

  & > *:first-child {
    margin-left: auto;
  }
  & > *:last-child {
    margin-left: auto;
    margin-right: 4rem;
  }

  & .btn-group {
    @include respond(small) {
      margin-top: 0.33rem;
    }
  }

  @include respond(small) {
    flex-direction: column;
    align-items: flex-start;

    & > *:first-child {
      margin-left: initial;
    }
    & > *:last-child {
      margin-left: 0rem;
      margin-right: initial;
    }
  }
}
