.search-container {
  //   width: 50%;
  // margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.25rem;
  gap: 0.25rem;

  & .search-box {
    display: flex;
  }

  & .search-box {
    // flex-basis: fit-content;
    min-width: 50%;
  }

  & #export_word {
    // flex: 1 1 15%;
    // flex-basis: fit-content;
    min-width: 15ch;
  }

  @include respond(medium) {
    & .search-box {
      flex: 1 1 50%;
      //   flex-basis: 100%;
    }
    & #export_word {
      min-width: 15ch;
    }
  }

  @include respond(small) {
    flex-direction: column-reverse;

    & .search-box {
      min-width: 100%;
    }
    & #export_word {
      min-width: 15ch;
    }
  }
}
