@import "./mixins/mixins";

body {
  // @include respond(medium) {
  //   font-size: 0.8rem !important;
  // }
  @include respond(small) {
    font-size: 80% !important;
  }
}

.btn,
.form-control,
.dropdown-menu,
.input-group-text,
.fs-sm,
.custom-select {
  font-size: inherit;
}

select:focus {
  outline: none;
}

.container-fluid {
  padding-top: 1rem;
  padding-inline: 3rem;

  @include respond(medium) {
    padding-inline: 0.25rem;
  }
  @include respond(small) {
    padding-inline: 0.25rem;
  }
}

.fade-background {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-modal {
  width: 30vw;
  position: relative;
  padding: 1rem 2rem;
  background-color: lightblue;
  box-shadow: 0 2rem 4rem rgba(#000, 0.2);
  overflow: hidden;
  animation: appearance 0.15s ease-out 0.15s backwards;

  @include respond(medium) {
    // padding: 1rem 0.5rem;
    width: 70vw;
  }

  @include respond(small) {
    padding: 1rem 0.5rem;
    width: 90vw;
  }
}

.h-65vh {
  height: 65vh;
}
.h-40vh {
  height: 40vh;
}

.w-30 {
  width: 30vw;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.fs-sm {
  font-size: 0.85rem;
}

.text-no-wrap {
  white-space: nowrap;
}

.big-checkbox {
  width: 20px;
  height: 20px;
}
